<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What Should I Eat?</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>What Should I Eat?</h1>
    
  </header>

  <main>
    <section class="container">
      <h2>Random Meal Generator</h2>
      <button id="rngButton">What should I eat?</button>
      <p id="mealSuggestion" class="meal-suggestion"></p>

      <!-- New section to display restaurants -->
      <h3>Nearby Restaurants</h3>
      <ul id="restaurantList" class="restaurant-list"></ul>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 What Should I Eat</p>
  </footer>

  <script src="/script.js"></script>
</body>
</html>
