* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #2D9CDB;
  color: white;
  padding: 20px 0;
  text-align: center;
  border-bottom: 3px solid #1B79A1;
  flex-shrink: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  flex: 1 0 auto;
  overflow-y: auto;
}

.container,
.map-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 48%;
  height: 100%;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

button {
  background-color: #2D9CDB;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1B79A1;
}

h3 {
  margin-top: 40px;
  font-size: 1.8em;
  color: #2D9CDB;
}

.restaurant-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto; 
}

.restaurant-list li {
  background-color: #F1F1F1;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restaurant-name {
  text-align: center;
  font-size: 1.8em;
  margin: 20px 0;
  color: #2D9CDB;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #333;
  color: white;
  position: relative;
  width: 100%;
}

footer p {
  font-size: 14px;
}

#rngButton {
  background-color: #2D9CDB;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#rngButton:hover {
  background-color: #1B79A1; 
}

.meal-suggestion {
  font-size: 1.4em;
  margin-top: 20px;
  font-weight: bold;
  color: #2D9CDB;
  background-color: #f0f8ff; 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#restaurantList, .map-container, #restaurant {
  display: none;
}
